<div class="container-fluid">
	
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			  <p class="text-info font-weight-bold">{{ message }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
	<div class="row">
		<div class="col-sm-12">
			<form action="" method="post">
				<h6>Period of update:</h6>
				<div class="form-group row">
					<div class="col-sm-1">
						<input type="text" class="form-control" id="time" placeholder="in seconds" name="time">
					</div>	
					<label for="time" class="col-form-label"> - reception parameters update period (integer value).</label>
				</div>
				<h6>Users passwords:</h6>
				<div class="form-group row">
					<div class="col-sm-1">
						<input type="text" class="form-control" id="adminPassword" placeholder="password" name="adminPassword">
					</div>
					<label for="adminPassword" class="col-form-label"> - for user "admin"</label>
				</div>
				<div class="form-group row">
					<div class="col-sm-1">
						<input type="text" class="form-control" id="monitorPassword" placeholder="password" name="monitorPassword">
					</div>
					<label for="monitorPassword" class="col-form-label"> - for user "monitor"</label>
				</div>
				<h6>Default users and passwords for receiver models (also receiver description and its software):</h6>
				<div class="form-group row">
					<div class="col-sm-1">
						<input type="text" class="form-control" id="proview2962User" placeholder="user" name="proview2962User">
					</div>					
					<div class="col-sm-1">
						<input type="text" class="form-control" id="proview2962Password" placeholder="password" name="proview2962Password">
					</div>
					<label for="proview2962" class="col-form-label"> - for proview2962</label>
				</div>
				<div class="form-group row">
					<div class="col-sm-1">
						<input type="text" class="form-control" id="proview7000User" placeholder="user" name="proview7000User">
					</div>		
					<div class="col-sm-1">
						<input type="text" class="form-control" id="proview7000Password" placeholder="password" name="proview7000Password">
					</div>
					<label for="proview7000Password" class="col-form-label"> - for proview7000</label>
				</div>
				<div class="form-group row">
					<div class="col-sm-1">
						<input type="text" class="form-control" id="proview7100sUser" placeholder="user" name="proview7100sUser">
					</div>		
					<div class="col-sm-1">
						<input type="text" class="form-control" id="proview7100sPassword" placeholder="password" name="proview7100sPassword">
					</div>
					<label for="proview7100sPassword" class="col-form-label"> - for proview7100s</label>
				</div>
				<div class="form-group row">
					<div class="col-sm-1">
						<input type="text" class="form-control" id="proview7100moldUser" placeholder="user" name="proview7100moldUser">
					</div>		
					<div class="col-sm-1">
						<input type="text" class="form-control" id="proview7100moldPassword" placeholder="password" name="proview7100moldPassword">
					</div>
					<label for="proview7100moldPassword" class="col-form-label"> - for proview7100mold</label>
				</div>
				<div class="form-group row">
					<div class="col-sm-1">
						<input type="text" class="form-control" id="proview7100mnewUser" placeholder="user" name="proview7100mnewUser">
					</div>		
					<div class="col-sm-1">
						<input type="text" class="form-control" id="proview7100mnewPassword" placeholder="password" name="proview7100mnewPassword">
					</div>
					<label for="proview7100mnewPassword" class="col-form-label"> - for proview7100mnew</label>
				</div>
				<div class="form-group row">
					<div class="col-sm-1">
						<input type="text" class="form-control" id="proview8130User" placeholder="user" name="proview8130User">
					</div>		
					<div class="col-sm-1">
						<input type="text" class="form-control" id="proview8130Password" placeholder="password" name="proview8130Password">
					</div>
					<label for="proview8130Password" class="col-form-label"> - for proview8130</label>
				</div>
				<h6>Boundary values for C/N and Eb/NO:</h6>
				<div class="form-group row">
					<div class="col-sm-1">
						<input type="text" class="form-control" id="CN" placeholder="C/N (dB)" name="CN">
					</div>
					<label for="CN" class="col-form-label"> - for C/N (dB, integer or decimal value)</label>
				</div>
				<div class="form-group row">
					<div class="col-sm-1">
						<input type="text" class="form-control" id="ebno" placeholder="Eb/NO(dB)" name="ebno">
					</div>
					<label for="ebno" class="col-form-label"> - for Eb/NO(dB, integer or decimal value)</label>
				</div>				
			</form>
		</div>
	</div>
	
</div>